*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Work sans", sans-serif;
}
/*---------------SECTION HERO--------------*/
.first-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2% 4%;
    background-color:#000;
}
.first-header a{
    color: white;
    text-decoration: none;
    font-size: 12px;
}
.first-header span{
    margin-right: 80px;
}
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#000;
    padding: 0px 3%;
    width: 100%;
}
header figure img{
    margin-left:-27px;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 15px;
    width: 15%;
}
nav ul li a{
    text-decoration: none;
}
nav ul li a:hover{
    border-bottom:2px solid #fff;
}
.nav-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 7%;
    background-color:#000;
}
.search span input{
    border: 1px solid #fff;
}
.search span input:hover{
    color: white;
}
figure img{
    margin-left:-20%;
}
.fa-heart,.fa-bag-shopping{
    transition: transform 0.3s ease;
    transform: translateX(0px);
}
.fa-bag-shopping:hover{
    transform: translateX(10px);
}
.fa-heart:hover{
    transform: translateX(10px);
}

/*----------FINISH-SECTION-HERO-------------*/
/*-------START-VIDEO-SECTION-HERE------------*/
.back-video{
    position: absolute;
    right: 0;
}
@media (min-aspect-ratio:16/9){
    .back-video{
        width: 100%;
        height: auto
    }
}
/*-----------FINISH-VIDEO-SECTION-HERO---------*/
/*----------START-CONTENT-VIDEO---------*/
.content-video{
    text-align: center;
    position: absolute;
    padding-top: 6%;
    color:white;
    width: 100%;
}
.content-video h1{
    font-size: 50px;
    font-weight:200;
    text-transform:uppercase;
    letter-spacing:20px;
    padding: 25px;
    margin:25px;
}
.content-video p{
    font-size: 18px;
}
.content-video span p{
    font-size: 20px;
    padding: 0px;
}
.btn-white{
    background-color: white;
    color:black;
    text-decoration: none;
    border: 10px solid transparent;
    font-weight: bold;
    padding: 5px 35px;
    margin-right: 1.5%;
    opacity: 1;
    transition: 0.15s;
}
.btn-white:hover{
    opacity: 1;
    background-color: transparent;
    border: 3px solid;
    padding: 8px 25px;
    opacity: 0.8;
}
.btn-black{
    background-color: black;
    color:white;
    text-decoration: none;
    border: 10px solid transparent;
    padding: 5px 35px;
    opacity: 1;
    transition: 0.15s;
}
.btn-black:hover{
    opacity: 1;
    background-color: transparent;
    border: 3px solid;
    padding: 8px 25px;
    opacity: 0.8;
}
.btn{
    margin-top:3%;
}
/*------------FINISH-CONTENT-VIDEO---------------*/
/*-------START-COLLECTION-BEST-SELLERS-----------*/
.collection-best-sellers{
    justify-content: center;
    text-align: center;
    margin-top:55%;
    /*background-color: #E6B0AA;*/
    margin-bottom: 5%;
    font-size: 18px;
}
.content-box-collection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin:0;
    padding: 3%;
    margin-bottom: 10%;
}
.box-products{
    width: 229px;
    height: 435px;
    /*background-color: aqua;*/
    display: inline-block;
    padding: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box-1{
    /*background-color: bisque;*/
    width:229px;
    height: 435px;
    display: fixed;
    align-items: center;
    justify-content: center;
}
.addtocart{
    background-color: black;
    color:white;
    text-decoration: none;
    border: 14px solid transparent;
    padding: 0px 51px;
    transition: 0.15s;
}
.addtocart:hover{
    background-color: transparent;
    color:white;
    border: 2px solid black;
    padding: 5px 51px;
    color: #000;
    opacity: 0.8;
}
.btns{
    margin-top:5%;
    text-align: center;
}
.box-1 p{
    font-size: 20px;
    text-align: center;
}
.box-1 h2{
    font-size:20px;
    text-align: center;
    text-transform: uppercase;
}
/*--------FINISH-COLLECTION-BEST-SELLERS-------*/
/*-----------START-OUR-STORY---------*/
.story-time{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
}
.story-time-photo{
    height: 500px;
    position: relative;
}
.story-time-photo img{
    width: 100%;
    height: 100%;
}
.content-photo-product{
    text-align:initial;
    width: 70%;
    margin: 30px;
    padding: 10px;
    margin-top: 25%;
}
.content-photo-product h2, p{
    padding: 10px;
}
.button-read-more{
    margin-top: 30px;
}
.story-time-photo-white{
    background-color: #dee2e6;
}

.story-time-photo{
    background-color:#000;
}
.story-time-photo .content-photo-product{
    color: white;
}
.addtocart-black{
    background-color: #fff;
    color:black;
    text-decoration: none;
    border: 14px solid transparent;
    padding: 0px 30px;
    margin-top:30px;
}
.button-read-more-black{
    margin: 30px 10px;
    transition: 0.15s;
}
.button-read-more-black:hover{
    opacity: 0.8;
}
.button-read-more a{
    transition: 0.15s;
}
.button-read-more a:hover{
    opacity: 0.8;
}
.addtocart-black{
    background-color: #fff;
    color:#000;
    text-decoration: none;
    border: 14px solid transparent;
    padding: 0px 30px;
    transition: 0.15s;
}
.addtocart-black:hover{
    background-color: transparent;
    color:white;
    border: 2px solid #fff;
    padding: 5px 30px;
    opacity: 1;
}
/*-----------FINISH-OUR-STORY---------*/
/*------START-SECTION-FAVORITE-PRODUCTS-----*/
.content-box-collection-products{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin:0;
    padding: 7%;
   /*background-color:red;*/
    margin-top: 8%;
}
.box-products-items{
    width: 500px;
    height: 803px;
    /*background-color: aqua;*/
    display: inline-block;
    padding: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box-information-1{
    /*background-color: bisque;*/
    width:620px;
    height: 803px;
    display: fixed;
    align-items: center;
    justify-content: center;
}
.box-information-2{
    /*background-color: bisque;*/
    width:473px;
    height: 690px;
    display: fixed;
    align-items: center;
    justify-content: center;
}
.box-information-2 img{
    margin-top:20%;
}
.box-information-2 h2{
   text-align: center;
   letter-spacing: 13px;
}
.btn-article{
    background-color:white;
    color:#9d4edd;
    border: 2px solid;
    font-weight: bold;
    padding: 5px 35px;
    margin-right: 1.5%;
    opacity: 0.7;
    transition: 0.15s;
}
.btn-article:hover{
    opacity: 1;
    background-color: transparent;
    border: 3px solid white;
    padding: 8px 25px;
    opacity: 0.8;
}
.skin-routine{
    /*background-color: aquamarine;*/
    position: absolute;
    margin-top:-15%;
}
.skin-routine p{
   width: 60%;
   color:#fff;
}
.skin-routine a{
    margin:5px;
 }
 .skin-routine h3{
    margin:0px 9px;
    color: #ffe66d;
 }
/*------FINISH-SECTION-FAVORITE-PRODUCTS-----*/
/*------START-SECTION-DESCRIBE-PRODUCTS-------*/
.content-box-describe-products-1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin:0;
}
.box-describe-image-2{
    width: 1000px;
    height: 700px;
   /* background-color: aqua;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.box-information-3{
    background-color: bisque;
    width:100%;
    height: 100px;
    display: fixed;
    align-items: center;
    justify-content: center;
}
.box-information-3 img{
    margin-top: -10%;
}
.box-information-3 h2{
   text-align: center;
   letter-spacing: 10px;
}
.box-content-products-4{
    background-color:white;
    width:350px;
    height: 150px;
    display: fixed;
    position: relative;
    padding: 10px;
    color:black;
    margin-left:10%;
    margin-top:-24%;
    margin-bottom: 10%;
}
.box-content-products-4 h2{
    padding: 4px 9px;
}
.photo img{
    margin-top: 10%;
}
/*------FINISH-SECTION-DESCRIBE-PRODUCTS------*/
/*------START-CONTACT-FORM--------------*/
.contactForm{
    display: flex;
    justify-content: center;
    align-items:center;
    /*background-color: #E6B0AA;*/
    margin-bottom: 10%;
    margin-top: 20%;
}
form{
    /*background-color: #9AC2C9;*/
    padding: 30px;
    width: 80%;
    max-width: 1000px;
    font-size: 17px;
}
.inputBox{
    margin-bottom: 35px;
    position: relative;
}
input, textarea{
    width: 100%;
    padding: 5px;
    outline: 0;
    border: none;
    border-bottom: 1px solid #000;
    background-color: transparent;
}
.inputBox span input{
    width: 40%;
    padding: 15px;
    outline: none;
    border: 2px solid #000;
    background-color: #000;
    color:#fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 100;
    transition: 0.15s;
}
.inputBox span{
    display: flex;
    justify-content: center;
    align-items: center;
}
.inputBox span input:hover{
    background-color: transparent;
    color:#000;
    opacity: 0.8;
}
label{
    height: 100%;
    /*background-color: #8AA1B1;*/
    position: absolute;
    left: 0;
    top: 0;
    padding: 3px;
    color: #000;
    cursor: text;
    transition: 0.2s;
}
input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label{
    top: -35px;
    font-size: 14px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.row .inputBox{
    flex-basis: 48%;
}
.content-form{
    margin: 50px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
}
.content-form p{
    margin-bottom: 15px;
    font-size: 17px;
}
.content-form h2{
    font-size: 30px;
}
/*------FINISH-CONTACT-FORM--------------*/
/*-------START-PHOTO-GALLERY--------*/
.photo-gallery{
    width: 100%;
    margin: auto;
    background-color: #000;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: -1px;
    margin-bottom: 10%;
    padding: 40px;
}
.pic-place{
    position: relative;
    height: 310px;
    margin: 15px;
}
.pic-place img{
    width: 100%;
    height: 100%;
}
/*-------FINISH-PHOTO-GALLERY--------*/
/*---------START-CONTACT-ZONE--------*/
.first-zone-logo{
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}
.main-content{
    background-color: #000;
    color: #fff;
}
.main-content h3{
    padding: 5px;
    text-align: center;
    font-size: 15px;
}
.main-content p{
    padding: 2px;
    margin-bottom: 5px;
    font-size: 12px;
}
.content-contact{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    background-color:  #fff;
    position: absolute;
    margin-top: -25%;
    width: 70%;
    padding: 20px;
}
/*---------ZONE4------------*/
.first-zone-logo4{
    background-color:#000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    margin-top: -20px;
}
.follow{
    align-items: center;
    color: white;
}
.form-zone4 span input{
    border:none;
    border-bottom: 3px solid #fff;
    /*background-color: aquamarine;*/
    width: 400px;
}
.form-zone4 span input:hover{
    border:2px solid #fff;
    color: white;
}
.form-zone4{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /*background-color: #f1c0e8;*/
}
::placeholder{
    color: #fff;
    padding: 3px;
}
.button-follow span input{
    width: 70px;
    color: white;
    transition: 0.15s;
}
.button-follow span input:hover{
    background-color: transparent;
    border:none;
    opacity: 0.8;
}
.enter-email-zone input:focus{
    background-color: #6c757d;
    border:2px solid #fff;
}
/*---------FINISH-CONTACT-ZONE--------*/
/*---------START-SOCIAL-MEDIA--------*/
.first-zone-logo-social{
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    margin-top: -29px;
}
.face, .insta, .tik, .linkedin, a{
   background-color: #000;
   text-decoration: none;
   color: white;
   font-size: 14px;
   padding: 0px 20px;
   transition: 0.15s;
}
.social-media{
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.linkedin:hover{
    border-bottom: 2px solid #fff;
    opacity: 0.8;
 }
 .tik:hover{
    border-bottom: 2px solid #fff;
    opacity: 0.8;
 }
 .insta:hover{
    border-bottom: 2px solid #fff;
    opacity: 0.8;
 }
 .face:hover{
    border-bottom: 2px solid #fff;
    opacity: 0.8;
 }
/*---------FINISH-SOCIAL-MEDIA--------*/
/*----------START-FOOTER------------------*/
footer{
    background-color: #000;
    margin-top: 5px;
    color: #fff;
    font-size: 12px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 10px;
}
.term-of-use{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 30%;
}
.term-of-use p{
    padding: 0px 50px;
}
/*----------FINISH-FOOTER-----------------*/
.blog-heading{
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    margin-bottom: 20px;
    margin-top: 80px;
}
.blog-heading span{
    color:#eaac8b;
    font-size: 1.5rem;
    margin-left: 4.5%;
}
.blog-heading h3{
    font-size: 2.4rem;
    color:#000;
    font-weight:600;
    margin-left: 4%;
}
#load-more{
    display: flex;
    margin: auto;
    height: 50px;
    padding: 0 50px;
    border: 0px;
    background-color: #000;
    color: #fff;
    font-size: 16px;
    cursor:pointer;
    transition:0.3s linear;
    align-items: center;
    margin-bottom: 50px;
}
#load-more:hover{
    opacity:0.8;
}